.fundoroxo{
    /* background: #3f025c; */
    /* background: -webkit-gradient(linear, left top, right top, from(#CCCCCC), to(#000000)) no-repeat;
    background: -moz-linear-gradient(left, #CCCCCC, #000000);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CCCCCC', EndColorStr='#000000'); */
    background-image: linear-gradient(to right,#9B52ED, #5448BD, #8848BD, #BD48B1);
}
#film{
    margin-top: 70px;
   
}
#menu{
    margin-top: 70px;
    background:  #FFFFFF;
    opacity: 0.75; 
    text-decoration: none;
}
#formulario{
    margin-top: 100px;
    height:500px
}
#id{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color: blanchedalmond;
}
#formulariologin{
    background: #FFFFFF;
    margin-top: 10em;
    margin-bottom: 10em;
    width: 80%;
    height: 30em;
    margin-left: 2.5em;
    
}

